
.ImageSlider__main {
  display: block;
  position: relative;
  min-width: 300px;
  max-width: 800px;
  margin: auto;
  box-shadow:0px 0px 25px 0 rgba(46, 61, 73, 0.096);

  .image {
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

  
  
  .left_arrow {
    cursor: pointer;
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;

    @media (max-width: 600px) { 
      & {
        left: 0;
      }
    }
  }

  .right_arrow {
    cursor: pointer;
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;

    @media (max-width: 600px) { 
      & {
        right: 0;
      }
    }
  }
}

.ImageSlider__title {
  height: 50px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  width: 100%;
}


.ImageSlider__thumbnails {
  text-align: center;
  overflow: auto;
  width: 100%;
  white-space: nowrap;
  .item {
    cursor: pointer;
    display: inline-block;
    width: 150px;
    height: 100px;
    border-radius: 12px;
    overflow: hidden;
    margin: 2rem 1rem;
    transition: 0.3s all linear;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .active {
    transform: scale(1.1);
  }
}

